@charset "utf-8";

*{margin:0px;padding:0px;}

.margin{width:1263px; margin:0 auto;}
body{background-color:#fff;}
header{width:1263px;background:#f9f9f9;margin:0 auto;}
header .header1{width:1263px; height:30px; background:#333;}
header .header1 .header-nav1 ul{float:left; }
header .header1 .header-nav1 ul li{float:left;}
header .header1 .header-nav1 ul li a{display:block;font:12px/10px "";padding-left:10px;padding-right:10px;border-right:1px solid #ccc;margin-top:10px;color:#ccc;}
header .header1 .header-nav1 ul li a:hover{color:#fff;}
header .header1 .header-nav1 ul li:first-child a{padding-left:30px;}
header .header1 .header-nav1 ul li:last-child a{border-right:none;}
header .header1 .header-user1{float:right; width:570px;}
header .header1 .header-user1 .user-out1{float:left;width:226px;}
header .header1 .header-user1 .user-out1 span{display:block;float:left;font:12px/30px "";color:#ccc;}
header .header1 .header-user1 .user-out1 ul li{float:left;font:12px/30px "";color:#ccc;padding-left:14px;}
header .header1 .header-user1 .user-out1 ul li a{color:#ccc; border-right:1px solid #ccc;padding-right:14px;}
header .header1 .header-user1 .user-out1 ul li a:hover{color:#fff;}
header .header1 .header-nav1 ul li:last-child a{border-right:none;}
header .header1 .header-user1 .user-center1{float:left;width:67px;}
header .header1 .header-user1 .user-center1 a{display:block;font:12px/30px "";overflow:hidden;text-align:center;color:#ccc;}
header .header1 .header-user1 .user-center1 span{display:block;float:left;overflow:hidden;text-align:center;color:#ccc;}
header .header1 .header-user1 .user-center1 ul{float:left;overflow:hidden;height:0px;color:#ccc;}
header .header1 .header-user1 .user-center1 ul li{overflow:hidden;}
header .header1 .header-user1 .msg-box1{float:left;width:117px;background:#f7b200;}
header .header1 .header-user1 .msg-box1 a{float:left;width:117px;font:12px/30px "";text-align:center;color:#fff;}
header .header1 .header-user1 .car1{ display:block; float:left;width:110px;font:12px/30px "";text-align:center;color:#fff;background:#513767;}

header .daohang{width:1263px;height:98px; float: left;background:#fff;margin:0 auto;}
header .daohang .daohangleft{width:231px;height:98px; float:left; background:url(../images/logo.png) no-repeat center;padding-left:50px; }
header .daohang .daohangright{position:relative;}
header .daohang .daohangright #sousuo{width:312px;height:32px;position:absolute;left:400px;top:30px;}
header .daohang .daohangright #sousuo1{width:34px;height: 34px;background:url(../images/sosuuo.png) no-repeat center;z-index:5;position:absolute;left:714px;top:29.8px;border:1px solid #bcbcbc;}



#nav1{width:1263px;height:17px;float:left;padding:24px 0 24px 34px;}
#nav1 a{}
#nav1 span{}

#nav2{width:1263px;height:500px;float:left;margin-left:32px; }
#nav2 #nav2-left{width:562px;height:499px;float:left;}
#nav2 #nav2-left img{float:left;}
#nav2 #nav2-left #xt{width:82px;height:462px;float:left;padding-left:18px;}
#nav2 #nav2-left #xt li{width:80px; height:80px;padding:0px 0 13px 0px;}
#nav2 #nav2-left #xt>li>img{border:1px solid #ccc;width:80px; height:80px;}
#nav2 #nav2-left .dt{width:462px;height:462px;}
#nav2 #nav2-left #xz{width:562px;height:17px;float:left;padding-top:23px;}
#nav2 #nav2-left #xz li{float:left;width:70px;height:17px;padding-left:20px;background:url(../images/duihao.png) no-repeat left 0px;}

#nav2 #nav2-right{width:465px;height:408px; float:left;padding-left:52px;}
#nav2 #nav2-right #nv-top{width:465px;height:55.5px;border-bottom:1px solid #ccc;}
#nav2 #nav2-right #nv-top h2{padding-bottom:10px;}
#nav2 #nav2-right #nv-top p{padding-bottom:10px;color:#ccc;}

#nav2 #nav2-right #nv-center{width:465px;height:267px;}
#nav2 #nav2-right #nv-center .panel-main{width:465px;height:244px;padding-top:23px;}
#nav2 #nav2-right #nv-center .panel-main .panel-press{width:465px;height:35px;}
#nav2 #nav2-right #nv-center .panel-main .panel-press .aaa{float:left;width:65px;height:35px;display:block;}
#nav2 #nav2-right #nv-center .panel-main .panel-press div{float:left;}
#nav2 #nav2-right #nv-center .panel-main .panel-press div .panel-maney{padding-bottom:6px;width:60px;height:21px;display:block;float:left;}
#nav2 #nav2-right #nv-center .panel-main .panel-press div i{color:#f85453;font-size:20px;}
#nav2 #nav2-right #nv-center .panel-main .panel-specs{width:465px;height:50.5px;}
#nav2 #nav2-right #nv-center .panel-main .panel-specs .color1{float:left;width:65px;height:35px;display:block;}
#nav2 #nav2-right #nv-center .panel-main .panel-specs .color2{float:left;width:164px;height:36px;border:1px solid #ccc;text-align:center;line-height:36px;}
#nav2 #nav2-right #nv-center .panel-main .panel-sizeImg{width:465px;height:101px;}
#nav2 #nav2-right #nv-center .panel-main .panel-sizeImg .bigsmall{float:left;width:65px;height:35px;display:block;}
#nav2 #nav2-right #nv-center .panel-main .panel-sizeImg .haoma{width:400px;height:101px;float:left;}
#nav2 #nav2-right #nv-center .panel-main .panel-sizeImg .haoma ul{float:left;}
#nav2 #nav2-right #nv-center .panel-main .panel-sizeImg .haoma ul li{float:left;width:62px;height:35px;border:1px solid #ccc;margin-right:6px;text-align:center;line-height:36px;}
#nav2 #nav2-right #nv-center .panel-main .panel-sizeImg .haoma ul li:last-child{margin-top:15px;}
#nav2 #nav2-right #nv-center .panel-main .panel-sizeImg .chakan{display:block;width:340px;height:13px;float:left;margin-left:65px;}
#nav2 #nav2-right #nv-center .panel-main .panel-count{width:465px;height:35px;margin-top:30px;}
#nav2 #nav2-right #nv-center .panel-main .panel-count .num1{float:left;width:65px;height:35px;display:block;margin-top:12px;}
#nav2 #nav2-right #nv-center .panel-main .panel-count .c55{border:2px solid #ccc;float:left;display:block;background:url(../images/zhenghe1.png) no-repeat 4px -40px ; width: 28px;height:32px;}
#nav2 #nav2-right #nv-center .panel-main .panel-count #wzz{float:left;width:30px;height:32px;padding-left:20px;}
#nav2 #nav2-right #nv-center .panel-main .panel-count .c56{border:2px solid #ccc;float:left;display:block;background:url(../images/zhenghe1.png) no-repeat -17px -40px; width: 28px;height:32px;}

#nav2 #nav2-right #nv-bottom{width:400px;height:40px;padding-left:65px;margin-top:20px;}
#nav2 #nav2-right #nv-bottom #buyNow{width:180px;height:40px;float:left;text-align:center;font-size:18px;line-height:2;background:#523669;color:#fff;}
#nav2 #nav2-right #nv-bottom #addShopCar{width:180px;height:40px;float:left;text-align:center;font-size:18px;line-height:2;background:#f7b200;color:#fff;margin-left:19px;}



#nav3{width:1263px;height:2895px;}
#nav3 .n3daohang{margin-top:30px;border:1px solid #ccc;width:1200px;height:62px;float:left;margin-left:35px;background:#eeecef;}
#nav3 .n3daohang a{border:1px solid #ccc;font-size:16px;line-height:4;display:block;width:240px;height:60px;float:left;text-align:center;}
#nav3 .n3daohang .clerafix{float:left;text-align:center;}
#nav3 .n3daohang .clerafix li{border:1px solid #ccc;font-size:16px;float:left;width:240px;height:60px;line-height:4;}

#nav3 .nav3-left{margin-left:35px;border:1px solid #ccc;width:242px;height:2120px;float:left;}
#nav3 .nav3-left .nimabi{margin-top:20px;width:200px;height:78px;padding-left:40px;float:left;}
#nav3 .nav3-left a{margin-top:16px;display:block;width:200px;height:40px;margin-left:16px;margin-bottom:20px;float:left;text-align:center; line-height:3;color:#fff;background:#fac200;}
#nav3 .nav3-left ul{margin-left:40px;width:200px;height:1944px;float:left;}
#nav3 .nav3-left ul li{width:180px;height:260px;}
#nav3 .nav3-left ul li p{text-align:center;margin-top:10px;}
#nav3 .nav3-left ul li span{text-align:center;display:block;}

#nav3 .nav3-right{width:920px;height:2940px;float:left;}
.imgText-property{width: 800px;margin: 40px auto 20px;}
.imgText-property dt{display: inline-block;width: 160px;vertical-align: top;font-size: 16px;color: #666;}
.imgText-property dd{display: inline-block;width: 630px;font-size: 16px;color: #333;}
.imgText-property dl{border-bottom: 2px dotted #cecece;font-size: 16px;color: #333;line-height: 32px;}


.imgText-solePoint{width: 800px;margin: 0 auto 20px;}
.imgText-solePoint p{height: 50px;line-height: 50px;text-align: center;font-size: 18px;color: #333;}
.imgText-solePoint img{width: 800px;height: 320px;}

.imgText-textDes{width: 800px;margin: 0 auto;}
.imgText-textDes span{display: block;height: 40px;margin-bottom: 20px;line-height: 40px;border: 2px solid #c9c9c9;text-align: center;font-size: 16px;color: #333;}
.imgText-textDes p{min-height: 30px;line-height: 30px;font-size: 16px;color: #666;}

.hide{display:none;width:920px;height:2940px;float:left;}





#ulid .qiehuan{background:#fff; color:#000;}

.ulll .action{
	border-color:#cd2426!important;background:url(../images/specs.png) no-repeat 40px 14px;
}





#footer{width:1263px;height:160px;background:#fff;margin:0 auto;}
#footer .footerright{width:336px;height:154px;float:left;padding-left:176px; }
#footer .footerright ul{float:left;padding-top:40px; }
#footer .footerright ul li{float:left;border-right:1px solid #333;padding:0 16px 0 16px;}
#footer .footerright ul li:last-child{border-right:none;}
#footer .footerright ul li a{text-align:center;}
#footer .footerright p{float:left;padding:10px 0 0 16px;width:332px;height:12px;}
#footer .footerright img{float:left;padding-top:12px; padding-right:2px;}
#footer .footerright .zei{display:block;float:left;padding-top:14px;}
#footer .footerright span{display:block;padding-top:8px; width:360px;height:12px; float:left;padding-left:20px; }
#footer .footercenter{width:220px;height:154px;float:left;padding-left: 80px;}
#footer .footercenter img{float:left;padding-top: 48px;}
#footer .footercenter p{float:left;width:98px;height:12px;padding-top: 66px;padding-left:16px; }
#footer .footercenter a{display:block;float:left;padding-top:10px;padding-left:16px; }
#footer .footerleft{width:220px;height:154px;float:left;padding-left:16px;}
#footer .footerleft img{float:left;padding-top: 48px;}
#footer .footerleft p{float:left;width:98px;height:12px;padding-top: 66px;padding-left:16px; }
#footer .footerleft a{display:block;float:left;padding-top:10px;padding-left:16px; }
